<div class = "route-localeIndex">
  {{hero-header
    statement = (find-by 'id' (concat 'looking-for-job-' model.locale) model.markdownBlocks)
  }}


  {{#sec-tion
    class      = "route-localeIndex-cards"
    innerClass = "route-localeIndex-cards-inner"
  }}

    {{markdown-block
      class = "route-localeIndex-card _personality"
      section = (find-by 'id' (concat 'personality-' model.locale) model.markdownBlocks)
    }}

    {{online-presence
      class             = "route-localeIndex-card _presence"
      projectInfos      = model.projectInfos
      stackoverflowUser = model.stackoverflowUser
    }}

    {{markdown-block
      class = "route-localeIndex-card _skills"
      section = (find-by 'id' (concat 'skills-'      model.locale) model.markdownBlocks)
    }}

    {{pro-jects
      class               = "route-localeIndex-card _projects"
      projects            = model.projects
      locale              = model.locale
      isFastBoot          = model.isFastBoot
      gitHubProjectsStats = model.gitHubProjectsStats
    }}

    {{time-line
      class = "route-localeIndex-card _timeline"
    }}

    {{markdown-block
      class = "route-localeIndex-card _about-site"
      section = (find-by 'id' (concat 'about-site-' model.locale) model.markdownBlocks)
    }}
  {{/sec-tion}}{{! route-localeIndex-cards }}




  {{#unless model.isFastBoot}}
    {{#sec-tion
      class      = "route-localeIndex-footer"
      innerClass = "route-localeIndex-footer-inner"
    }}
      <hr>

      <div>
        {{#if isAuthenticating}}
          {{t 'login.loggingIn'}}
        {{else if session.isAuthenticated}}
          <a href {{action 'logout'}}>{{t 'login.logOut'}}</a>
        {{else}}
          <a href {{action 'login'}}>{{t 'login.logIn'}}</a> {{t 'login.withGitHub'}}
        {{/if}}
      </div>
    {{/sec-tion}}
  {{/unless}}{{! isFastBoot }}
</div>{{! route-localeIndex }}