<div class = "route-localeIndex">
  {{hero-header
    statement = (find-by 'id' (concat 'looking-for-job-' model.locale) model.markdownBlocks)
  }}

  {{locale-switcher
    class = "route-localeIndex-localeSwitcher"
    toggleLocaleAction = (route-action 'toggleLocale')
  }}


  {{#sec-tion
    class      = "route-localeIndex-cards"
    innerClass = "route-localeIndex-cards-inner"
  }}

    {{markdown-block
      class = "route-localeIndex-card _personality"
      section = (find-by 'id' (concat 'personality-' model.locale) model.markdownBlocks)
    }}

    {{online-presence
      class             = "route-localeIndex-card _presence"
      projectInfos      = model.projectInfos
      stackoverflowUser = model.stackoverflowUser
    }}

    {{markdown-block
      class = "route-localeIndex-card _skills"
      section = (find-by 'id' (concat 'skills-'      model.locale) model.markdownBlocks)
    }}

    {{pro-jects
      class               = "route-localeIndex-card _projects"
      projects            = model.projects
      locale              = model.locale
      isFastBoot          = model.isFastBoot
      gitHubProjectsStats = model.gitHubProjectsStats
    }}

    {{time-line
      class = "route-localeIndex-card _timeline"
    }}

    {{markdown-block
      class = "route-localeIndex-card _about-site"
      section = (find-by 'id' (concat 'about-site-' model.locale) model.markdownBlocks)
    }}
  {{/sec-tion}}{{! route-localeIndex-cards }}
</div>{{! route-localeIndex }}