<div class = "route-blog">


  {{#sec-tion}}
    <div class = "route-blog-sidebar">
      <div class = "route-blog-sidebar-section _avatar">
        <img
          class  = "route-blog-sidebar-avatar"
          src    = "/favicon.jpg"
          alt    = {{t 'header.title'}}
          width  = "512"
          height = "512"
        >
      </div>

      <div class = "route-blog-sidebar-section _content">
        <h2 class = "route-blog-title">
          {{t 'header.title'}}
          @lolmaus
        </h2>

        <div class = "route-blog-subtitle">
          {{t 'header.subtitle'}}
        </div>

        {{horizontal-menu class = "route-blogIndex-menu"}}
      </div>{{! route-blog-sidebar-content }}
    </div>{{! route-blog-sidebar }}
  {{/sec-tion}}


  {{#sec-tion
    class      = "route-blog-content"
    innerClass = "route-blog-content-inner"
  }}
    {{outlet}}
  {{/sec-tion}}{{! route-blog-content }}


</div>{{! route-blog }}