<h2 class = "onlinePresence-title -callout">
  {{t 'onlinePresence.title'}}
</h2>

<ul class = "onlinePresence-list">
  <li class = "onlinePresence-item">
    <img
      class  = "onlinePresence-item-icon"
      src    = "/images/service-icons/github.png"
      width  = "16"
      height = "16"
      alt    = "GitHub"
    >

    <span class = "onlinePresence-item-service">
      GitHub:
    </span>

    <a href="https://github.com/lolmaus">lolmaus</a>

    {{#if projectInfos}}
      <span class = "onlinePresence-item-meta">
        ★{{starsCount}}
      </span>
    {{/if}}
  </li>



  <li class = "onlinePresence-item _so">
    <img
      src    = "/images/service-icons/stackoverflow.png"
      width  = "16"
      height = "16"
      alt    = "StackOverflow"
    >

    {{!
    <span class = "onlinePresence-item-service">
      StackOverflow:
    </span>
    }}

    <a href="https://stackoverflow.com/users/901944/lolmaus-andrey-mikhaylov">StackOverflow</a>

    {{#if stackoverflowUser}}
      <span class = "onlinePresence-item-meta onlinePresence-item-so-stats">
        <span class = "onlinePresence-item-so-stats-reputation">
          {{stackoverflowUser.reputation}}
        </span>{{! onlinePresence-item-so-stats-reputation }}

        <span class = "onlinePresence-item-so-stats-badges">
          <span class = "onlinePresence-item-so-stats-badge _gold">
            {{stackoverflowUser.gold}}
          </span>{{! onlinePresence-item-so-stats-badge _gold }}

          <span class = "onlinePresence-item-so-stats-badge _silver">
            {{stackoverflowUser.silver}}
          </span>{{! onlinePresence-item-so-stats-badge _silver }}

          <span class = "onlinePresence-item-so-stats-badge _bronze">
            {{stackoverflowUser.bronze}}
          </span>{{! onlinePresence-item-so-stats-badge _bronze }}
        </span>{{! onlinePresence-item-so-stats-badges }}
      </span>{{! onlinePresence-item-so-stats }}
    {{/if}}
  </li>



  <li class = "onlinePresence-item">
    <img
      src    = "/images/service-icons/twitter.png"
      width  = "16"
      height = "13"
      alt    = "Twitter"
    >

    <span class = "onlinePresence-item-service">
      Twitter:
    </span>

    <a href="https://twitter.com/lolmaus_en">@lolmaus_en</a>
  </li>



  <li class = "onlinePresence-item">
    <img
      src    = "/images/service-icons/telegram.png"
      width  = "16"
      height = "16"
      alt    = "Telegram"
    >

    <span class = "onlinePresence-item-service">
      Telegram:
    </span>

    <a href="https://telegram.me/lolmaus">@lolmaus</a>
  </li>



  <li class = "onlinePresence-item">
    <img
      src    = "/images/service-icons/gitter.png"
      width  = "16"
      height = "16"
      alt    = "Gitter"
    >

    <span class = "onlinePresence-item-service">
      Gitter:
    </span>

    <a href="https://gitter.im/lolmaus">lolmaus</a>
  </li>



  <li class = "onlinePresence-item">
    <img
      src    = "/images/service-icons/ember.png"
      width  = "16"
      height = "16"
      alt    = "Ember Slack Community"
    >

    <span class = "onlinePresence-item-service">
      Slack:
    </span>

    <a href="https://embercommunity.slack.com/messages/@lolmaus/">@lolmaus</a>
  </li>



  <li class = "onlinePresence-item">
    <img
      src    = "/images/service-icons/email.png"
      width  = "16"
      height = "16"
      alt    = "E-mail"
    >

    <span class = "onlinePresence-item-service">
      E-mail:
    </span>

    <a href="mailto:lolmaus@gmail.com">lolmaus@gmail.com</a>
  </li>


</ul>