<div>
  <a
    href   = {{project.effectiveUrl}}
    target = '_blank'
  >{{project.effectiveName}}</a>

  <a
    href   = {{project.gitHubUrl}}
    target = '_blank'
  >
    ★

    {{#deferred-content
      tagName = 'span'
      promise = starsPromise
      as |d|
    }}
       {{if d.isFulfilled d.content}}
    {{/deferred-content}}
  </a>

  {{#if project.emberObserver}}
    <a
      href   = "https://emberobserver.com/addons/{{project.id}}"
      target = '_blank'
    >
      <img
        src = "https://emberobserver.com/badges/{{project.id}}.svg"
        alt = "Ember Observer Score"
      >
    </a>
  {{/if}}

  {{#if (gte project.status 2)}}
    <span class="proJect-status -{{project.status}}">
      {{statusLabel}}
    </span>
  {{/if}}
</div>

{{#if currentDescription}}
  {{markdown-to-html currentDescription}}
{{/if}}