<div class = "proJect-meta">

  <a
    href   = {{project.effectiveUrl}}
  >{{project.effectiveName}}</a>

  {{star-button
    label            = starButtonLabel
    count            = starCount
    disabled         = (and session.isAuthenticated project.projectInfo.starPromisePending)
    link             = project.gitHubUrl
    act              = (action 'toggleStar')
    loginAction      = loginAction
    isAuthenticating = isAuthenticating
    isAuthenticated  = session.isAuthenticated
  }}

  {{#if project.emberObserver}}
    <a
      class  = '-no-icon'
      href   = "https://emberobserver.com/addons/{{project.id}}"
    >
      <img
        src = "https://emberobserver.com/badges/{{project.id}}.svg"
        alt = "Ember Observer Score"
      >
    </a>
  {{/if}}

  {{#if (gte project.status 2)}}
    <span class = "proJect-status -{{project.status}}">
      {{statusLabel}}
    </span>
  {{/if}}
</div>

{{#if currentDescription}}
  {{markdown-to-html
    currentDescription
    class = "proJect-description"
  }}
{{/if}}