<div>

  <span>
    <a
      href   = {{project.effectiveUrl}}
      target = '_blank'
    >{{project.effectiveName}}</a>

    {{#if (and session.isAuthenticated project.projectInfoSync)}}
      <button
        {{action 'toggleStar'}}
        disabled={{project.projectInfo.starPromisePending}}
      >
        {{#if project.projectInfo.starPromisePending}}
          Updating...
        {{else if project.projectInfo.starPromiseFailed}}
          Retry
        {{else}}
          {{if project.projectInfo.effectiveIsStarred 'Unstar' 'Star'}}
        {{/if}}
      </button>
    {{else}}
      <a
        href   = {{project.gitHubUrl}}
        target = '_blank'
      >
        ★ Star
      </a>
    {{/if}}

    {{#if project.projectInfoSync}}
      <span>
        {{project.projectInfo.effectiveStargazersCount}}
      </span>
    {{/if}}
  </span>

  {{#if project.emberObserver}}
    <a
      href   = "https://emberobserver.com/addons/{{project.id}}"
      target = '_blank'
    >
      <img
        src = "https://emberobserver.com/badges/{{project.id}}.svg"
        alt = "Ember Observer Score"
      >
    </a>
  {{/if}}

  {{#if (gte project.status 2)}}
    <span class="proJect-status -{{project.status}}">
      {{statusLabel}}
    </span>
  {{/if}}
</div>

{{#if currentDescription}}
  {{markdown-to-html currentDescription}}
{{/if}}