<h2>Open Source Contributions</h2>

<label>
  {{input type="checkbox" checked=showStalled}}
  Show stalled projects
</label>

{{#with (if showStalled projects (reject-by "status" 4 projects)) as |projects|}}

  {{#with (filter-by 'group' 'ember' projects) as |projects|}}
    <h3>Ember Addons</h3>
    {{project-group projects=(filter-by 'type' 'addon' projects) locale=locale}}

    <h3>Ember Apps</h3>
    {{project-group projects=(filter-by 'type' 'app' projects) locale=locale}}
  {{/with}}

  {{#with (filter-by 'group' 'js' projects) as |projects|}}
    <h3>JavaScript libraries</h3>
    {{project-group projects=projects locale=locale}}
  {{/with}}

  {{#with (filter-by 'group' 'jquery' projects) as |projects|}}
    <h3>Old jQuery plugins</h3>
    {{project-group projects=projects locale=locale}}
  {{/with}}

{{/with}}