<h1>{{t 'header.title'}} (lolmaus)</h1>

<h2>{{t 'header.subtitle'}}</h2>

{{locale-switcher
  toggleLocaleAction = (route-action 'toggleLocale')
}}

{{markdown-block section = (find-by 'id' (concat 'looking-for-job-' model.locale) model.markdownBlocks)}}

{{outlet}}

<hr>

{{#unless model.isFastBoot}}
  <div>
    {{#if session.isAuthenticated}}
      <a href {{action 'logout'}}>Logout</a>
    {{else}}
      <a href {{action 'login'}}>Login</a>
    {{/if}}
  </div>
{{/unless}}