<div class = "route-locale">

  {{input
    class   = "route-locale-menuToggler"
    id      = "route-locale-menuToggler"
    type    = "checkbox"
    checked = htmlState.menuToggler
  }}

  <label
    class = "route-locale-burger"
    for   = "route-locale-menuToggler"
  >
    {{svg-jar "hamburger" class = "route-locale-burger-icon"}}
  </label>

  <label
    class = "route-locale-backdrop"
    for   = "route-locale-menuToggler"
  ></label>



  <div class = "route-locale-menu">
    <div class = "route-locale-menu-greeting">
      {{t 'menu.greeting'}}
      <span
        class = "route-locale-menu-greeting-emoji"
      >😎</span>
    </div>

    <div class = "route-locale-menu-items">
      {{#if (not (starts-with routing.currentRouteName 'locale.blog.'))}}
        {{link-to
          (t 'menu.blog')
          'locale.blog'
          class  = "route-locale-menu-item _blog"
        }}
      {{/if}}

      {{#if (not-eq routing.currentRouteName 'locale.index')}}
        {{link-to
          (t 'menu.resume')
          'locale.index'
          class  = "route-locale-menu-item _resume"
        }}
      {{/if}}

      <a
        class = "route-locale-menu-item _source -no-icon"
        href="https://github.com/lolmaus/lolma.us"
      >
        {{t 'menu.source'}}
        <span class = "externalLink"></span>
      </a>

      {{#link-to
        class  = "route-locale-menu-item _locale"
        params = routing.router.oppositeLocaleURLParams
      }}
        {{t 'langSwitcher'}}
      {{/link-to}}
    </div>{{! route-locale-menu-items }}
  </div>{{! route-locale-menu}}



  <div class = "route-locale-content">
    {{outlet}}
  </div>{{! route-locale-content }}

</div>{{! route-locale }}